<div class="accueil">
    <div class="row rowAccueil">
        <img id="polytech" src="pictures/polytech.png" alt="polytech" class="img-responsive">
    </div>
    <h1>Bienvenue dans l'application de Polyforum</h1>
    <div class="row rowBienvenue">
        <div class="col-md-offset-2 col-md-8 bienvenue">
            <p class="bienvenue">
                Vous êtes maintenant connecté sur l'application <strong>Polyforum</strong> et vous vous trouvez dans la partie administration de l'application. Ici, vous pouvez gérer les participants au forum et générer le planning ! 
            </p>
        </div>
    </div>
    <div class="row rowAccueil">

        <div class="col-md-offset-2 col-md-8 configuration">
            <h2>Configurez l'application</h2>
            <p class="configuration">
                Vous pouvez modifier les dates de début et de fin du forum.
            </p>
        </div>
    </div>

    <div class="row rowAccueil">

        <div class="col-md-offset-2 col-md-8 monCompte">
            <h2>Mon compte</h2>
            <p class="monCompte">
                Sur cette page, vous pouvez modifier les différentes informations vous concernant (nom, prénom...)
            </p>
        </div>
    </div>

    <div class="row rowAccueil">

        <div class="col-md-offset-2 col-md-8 mesChoix">
            <h2>Mes choix</h2>
            <p class="mesChoix">
                Vous pouvez, sur cette page choisir les personnes que vous désirez voir durant ce forum etudiants/entreprises
            </p>
        </div>
    </div>

    <div class="row rowAccueil">

        <div class="col-md-offset-2 col-md-8 salles">
            <h2>Salles</h2>
            <p class="salles">
                Les salles sont assignées automatiquement à chaque entreprise, sachant que les salles ont une capacité d'entreprise maximum.
            </p>
        </div>
    </div>
    
    <div class="row rowAccueil">

        <div class="col-md-offset-2 col-md-8 utilisateurs">
            <h2>Utilisateurs</h2>
            <p class="utilisateurs">
                Les utilisateurs sont l'ensemble des personnes ayant un compte sur l'application <strong>Polyforum</strong>, qu'il s'agisse d'étudiant, d'entreprise ou d'administrateur.
            </p>
            <p class="utilisateurs">
                Chaque utilisateurs possède un login (son adresse e-mail), un  mot de passe ainsi que des informations telles que son numéro de téléphone.
            </p>
        </div>
    </div>
</div>
