<div class="row aPropos">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 infos">
        <h1>Informations sur l'application</h1>
        <p>
            Cette application permet de créer et de gérer un planning concernant les entretiens lors du Forum Etudiants-Entreprises de <a href="http://polytech.univ-lyon1.fr/" target="_blank">Polytech Lyon</a>
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 team">
        <h1>L'équipe</h1>
        <p>
            Cette application a été développée en <span>J2E</span> et en <span>Angular</span> par : 
        </p>
        <div class="row members">
            <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1">
                <img id="photo_profil" src="pictures/default-user.png" alt="profil">
            </div>
            <div class="col-xs-8 col-sm-10 col-md-11 col-lg-11 rowName">
                <a class="name" href="https://fr.linkedin.com/in/aisi-nguyen-9491b7ba" target="_blank">AiSi Nguyen</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://fr.linkedin.com/in/aisi-nguyen-9491b7ba" target="_blank"><i class="fa fa-2x fa-linkedin-square linkedin"></i></a>
            </div>
        </div>
        <div class="row members">
            <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1">
                <img class="picture" id="photo_profil" src="pictures/baptiste.png" alt="profil">
            </div>
            <div class="col-xs-8 col-sm-10 col-md-11 col-lg-11 rowName">
                <a class="name" href="https://fr.linkedin.com/in/baptiste-chemier-100733b1" target="_blank">Baptiste Chemier</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://fr.linkedin.com/in/baptiste-chemier-100733b1" target="_blank"><i class="fa fa-2x fa-linkedin-square linkedin"></i></a>
            </div>
        </div>
        <div class="row members">
            <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1">
                <img id="photo_profil" src="pictures/default-user.png" alt="profil">
            </div>
            <div class="col-xs-8 col-sm-10 col-md-11 col-lg-11 rowName">
                <a class="name" href="#" target="_blank">Aurélien Wils</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square linkedin"></i></a>
            </div>
        </div>
        <div class="row members">
            <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1">
                <img id="photo_profil" src="pictures/default-user.png" alt="profil">
            </div>
            <div class="col-xs-8 col-sm-10 col-md-11 col-lg-11 rowName">
                <a class="name" href="#" target="_blank">Elodie Fournier</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contact">
        <h1>Contact </h1>
        <p>
            <span>Tél :</span> 04 26 23 71 42  <br/>
            <span>Fax :</span> 04 72 43 12 25   <br/>
            <span>Email :</span> <a href="mailto:polytech@univ-lyon1.fr">polytech@univ-lyon1.fr</a> <br/>
            <span>Site web :</span> <a href="polytech.univ-lyon1.fr" target="_blank">polytech.univ-lyon1.fr</a> <br/>
        </p>
    </div>
</div>