<div class="row pictureAccueil">
    <img id="polytech" src="pictures/polytech.png" alt="polytech" class="img-responsive">
</div>

<div class="row rowInfosConnection">
    <div class="col-sm-12">
        <p>
            Vous devez être connecté pour accéder à l'application <span>Polyforum</span>
        </p>
    </div>
</div>

<div class="row rowConnexion"  ng-hide="userIsLoggedIn">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Indentifiant</span>
                <input ng-model="user.login" type="text" class="form-control" required autofocus>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Mot de passe</span>
                <input ng-model="user.pass" type="text" class="form-control" required>
            </div>
        </div>
    </div>
    <div class="col-sm-12" ng-show="user.badConnexion">
        <div  class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            {{errMsg}}
        </div>
        
    </div>
    <div class="col-sm-12">
        <button ng-click="login()" class="btn btn-primary">Se connecter</button>
    </div>
</div>