<div class="row pictureAccueil">
    <img id="polytech" src="pictures/polytech.png" alt="polytech" class="img-responsive">
</div>

<div class="row rowInfosConnection">
    <div class="col-sm-12">
        <p>
            Vous devez être connecté pour accéder à l'application <span>Polyforum</span>
        </p>
    </div>
</div>

<div class="row rowConnexion"  ng-hide="userIsLoggedIn">
    <div class="col-sm-offset-3 col-sm-7 col-md-offset-4 col-md-4 text-center">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-user fa-lg"></i> 
                </div>
                <input ng-model="user.login" type="text" class="form-control" placeholder="polytech@exemple.fr" required autofocus>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-3 col-sm-7 col-md-offset-4 col-md-4 text-center">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-lock fa-lg"></i> 
                </div>
                <input ng-model="user.pass" type="password" class="form-control" placeholder="Mot de passe" required>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-3 col-sm-7 text-center" ng-show="user.badConnexion">
        <div  class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            {{errMsg}}
        </div>
        
    </div>
    <div class="col-sm-12">
        <button ng-click="login()" class="btn btn-primary">Se connecter</button>
    </div>
</div>