
<div class="col-sm-6">
    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="2">{{companyChoiceCtrl.titreColoneAChoisir}}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="choice in companyChoiceCtrl.choices">
                <td>{{choice.prenom}} {{choice.nom}}</td>
                <td>
                    <a href="" title="Ajouter" ng-click="companyChoiceCtrl.ajoutEntrepriseMesChoix(choice.id, $index)">
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
</div>
<div class="col-sm-6">
    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="2">{{choiceCtrl.titreColoneMesChoix}}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="myChoice in choiceCtrl.myChoices">
                <td>
                    <a href="" title="Supprimer" ng-click="choiceCtrl.deleteEntrepriseMesChoix(myChoice.id, $index)">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    </a>
                </td>
                <td>{{myChoice.nom}} {{myChoice.prenom}} </td>
            </tr>
        </tbody>
    </table>
</div>