<div class="formUser">
    <h1>{{monCompteCtrl.user.nom}} {{monCompteCtrl.user.prenom}}</h1>

    <form class="form-horizontal" role="form" name="userForm" >

        <div class="form-group">
            <label class="col-xs 12 col-sm-3 col-md-3 control-label">Nom : </label>
            <div class="col-xs 12 col-sm-6  col-md-5 col-lg-3">
                <input type="text" name="nom" ng-model="monCompteCtrl.user.nom" class="form-control" placeholder="Nom" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs 12 col-sm-3 col-md-3 control-label">Prénom </label>
            <div class="col-xs 12 col-sm-6  col-md-5 col-lg-3">
                <input type="text" name="prenom" ng-model="monCompteCtrl.user.prenom" class="form-control" placeholder="Prénom" required autofocus>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs 12 col-sm-3 col-md-3 control-label">N° de téléphone </label>
            <div class="col-xs 12 col-sm-6  col-md-5 col-lg-3">
                <input type="text" name="telephone" ng-model="monCompteCtrl.user.telephone" class="form-control" placeholder="N° de Téléphone" required autofocus>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs 12 col-sm-3 col-md-3 control-label">Mail </label>
            <div class="col-xs 12 col-sm-6  col-md-5 col-lg-3">
                <input type="text" name="email" ng-model="monCompteCtrl.user.email" class="form-control" placeholder="e-Mail" required autofocus>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Date de disponibilité (début) </label>
            <div class="col-sm-6 col-md-5 col-lg-3">   
                <p class="input-group">
                    <input type="text" class="form-control" is-open="userCtrl.dateDebPickerOpened" datepicker-popup="shortDate" 
                           ng-model="monCompteCtrl.user.date_debut_dispo" ng-required="true"  name="date_debut_dispo" close-text="Close" />                 
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="monCompteCtrl.openDateDebPicker()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </span>   
                </p>
            </div>
        </div>  

        <div class="form-group">
            <label class="col-sm-3 control-label">Date de disponibilité (Fin) </label>
            <div class="col-sm-6 col-md-5 col-lg-3">   
                <p class="input-group">
                    <input type="text" class="form-control" is-open="userCtrl.dateFinPickerOpened" datepicker-popup="shortDate" 
                           ng-model="monCompteCtrl.user.date_fin_dispo" ng-required="true"  name="date_fin_dispo" close-text="Close" />                 
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="monCompteCtrl.openDateFinPicker()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </span>   
                </p>
            </div>
        </div>  

        <div class="form-group buttons">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-default btn-primary" ng-click="monCompteCtrl.validateUser(monCompteCtrl.user.id, userForm)"><i class="fa fa-check" aria-hidden="true"></i> Enregistrer</button>
                &nbsp;
                <button type="button" class="btn btn-default " ng-click="monCompteCtrl.cancel()"><i class="fa fa-times" aria-hidden="true"></i> Annuler</button>
            </div>           
        </div>  

        <div class="form-group" >
            <div class="col-sm-6 col-sm-offset-3" ng-show="monCompteCtrl.error" >
                <div class="alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{monCompteCtrl.error}}
                </div>
            </div>
        </div>


    </form>

</div>