<div class="salles">
    <h1>Administration des salles</h1>
    <div class="row salle">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7  name">
            Salle 15
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 capacite">
            Capacité: 2/2
        </div>
        <div class="col-xs-6 col-sm-1 col-md-1 col-lg-1">
            <a href="#" alt="Modifier" title="Modifier"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-6 col-sm-1 col-md-1 col-lg-1">
            <a href="#" alt = "Supprimer" title="Supprimer"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
</div>