<div class="salles">
    <h1>Administration des salles</h1>
    <div class="row actionButtons">
        <div class="col-xs-12 col-sm-offset-7 col-sm-5 col-md-offset-9 col-md-3 text-right">
            <a href="#/addSalle" class="btn btn-default"><i class="fa fa-plus"></i> Ajouter une salle</a>
        </div>
    </div>
        <table class="table-responsive table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nom de la salle</th>
                <th>Capacité</th>                      
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="salle in sallesCtrl.salles">
                <td>{{salle.libelle}}</td>
                <td>{{salle.capacite}}</td>
                <td><a href="#/updateSalle/{{salle.id}}" title="Modifier">
                        <i class="fa fa-pencil-square-o fa-3" aria-hidden="true"></i>
                    </a> &nbsp; &nbsp;
                    <a href="" confirmed-click="sallesCtrl.deleteSalle(salle.id)" ng-confirm-box-click="Êtes-vous sûr de vouloir supprimer la salle ?" title="Supprimer">
                        <i class="fa fa-times fa-3" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>