<div>
    <h1>Liste des utilisateurs</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nom</th>                      
                <th>Prénom</th>
                <th>Identifiant / e-mail</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in usersCtrl.users">
                <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <td><a href="#" alt="Modifier" title="Modifier"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; &nbsp;<a href="#" alt = "Supprimer" title="Supprimer"><i class="fa fa-times" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>

</div>
